@import '../variables.scss';

.ghost-content.theme-plain {
    padding: 0;
    line-height: 1.35;
}

.ghost-content.theme-plain .element-container {
    &.p, &.ul, &.ol {
        a {
            border-bottom: 2px solid black;
            // background: black;
            // color: white;
            // padding: 3px 8px;
        }

        b, strong {
            // padding: 3px 8px;
            color: black;
            background: white;
            padding: 0;
            font-weight: bold;
        }

        ul, ol {
            padding: 0;
        }
    }

}

.ghost-content.theme-plain .element-container.h2 {
    padding: 0 30px;
}

.ghost-content.theme-plain h2 {
    font-size: 1em;
    background: none;
    color: black;
    padding: 0;
}

.ghost-content.theme-plain .element-container {
    padding: 0 30px;
    max-width: 600px;
}

.ghost-content.theme-plain .element-container.wide {
    // padding: 0;

    > * {
        max-width: none;
    }
}

.ghost-content.theme-plain .element-container.table {
    table {
        table-layout: fixed;
    }
}

.ghost-content.theme-plain figure {
    padding: 0;
    margin: 0;
}

.ghost-content.theme-plain hr {
    border: none;
    height: 2px;
    background: black;
    margin: 1.5rem 0;
}

.ghost-content.theme-plain .kg-image-card {
    // margin: 0;
    display: flex;
    flex-direction: column;

    .kg-image {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin: 0;
    }

    figcaption {
        max-width: 100%;
        height: auto;
        padding: 0;
        margin-top: 10px;
        font-size: 1em;
        font-weight: bold;
        line-height: 1.5;
        background: none;
        color: black;
    }
}

.ghost-content.theme-plain .kg-gallery-card {
    .kg-gallery-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .kg-gallery-row {
        display: flex;
        flex-direction: row;
    }

    .kg-gallery-image img {
        display: block;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    figcaption {
        margin: 15px 0;
        color: black;
        background: none;
        font-size: 1em;
        padding: 0;
    }
}

.ghost-content.theme-plain .kg-bookmark-card {
    width: 100%;
    position: relative;
    margin: 30px 0;

    .kg-bookmark-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        color: currentColor;
        font-family: inherit;
        text-decoration: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .kg-bookmark-container:hover {
        text-decoration: none;
    }

    .kg-bookmark-content {
        flex-basis: 0;
        flex-grow: 999;
        padding: 20px;
        order: 1;
    }

    .kg-bookmark-title {
        font-weight: 600;
    }

    .kg-bookmark-metadata,
    .kg-bookmark-description {
        margin-top: .5em;
    }

    .kg-bookmark-metadata {
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .kg-bookmark-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .kg-bookmark-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: text-bottom;
        margin-right: .5em;
        margin-bottom: .05em;
    }

    .kg-bookmark-thumbnail {
        display: flex;
        flex-basis: 24rem;
        flex-grow: 1;
    }

    .kg-bookmark-thumbnail img {
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
        object-fit: cover;
    }

    .kg-bookmark-author {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .kg-bookmark-publisher::before {
        content: "•";
        margin: 0 .5em;
    }
}

.ghost-content.theme-plain .element-container.embed {
    max-width: 700px;
    padding: 15px 30px;
}

.ghost-content.theme-plain .kg-embed-card {
    margin: 0;
    width: 100%;
    position: relative;
    padding: 0;
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); 

    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .fluid-width-video-wrapper {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }
    
    .fluid-width-video-wrapper iframe,
    .fluid-width-video-wrapper object,
    .fluid-width-video-wrapper embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.ghost-content.theme-plain .element-container.blockquote {
    padding: 0;
    margin: 0px 30px;
}

.ghost-content.theme-plain blockquote {
    // padding: 20px 50px;
    // background: black;
    // color: white;
    background: none;
    color: black;
    border-left: 2px solid black;
    padding: 0 15px;
}


.ghost-content.theme-plain code {
    font-family: 'Inconsolata', monospace;
    // font-weight: bold;
    // letter-spacing: 0.1rem;
    // padding: 1px 5px;
    // border: 2px solid black;
}

.ghost-content.theme-plain .kg-code-card {
    border: 2px solid black;
    display: flex;
    flex-direction: column;

    pre {
        padding: 5px 20px;
        display: block;
        font-weight: normal;
        // overflow-x: auto;
    }

    figcaption {
        display: block;
        border-top: 2px solid black;
        padding: 10px 20px;
        width: 100%;
        left: 0;
    }
}

.ghost-content.theme-plain .element-container.pre {
    pre {
        border: none;
        padding: 0;
        overflow-x: auto;
    }

    // code {
    //     letter-spacing: 0.05rem;
    //     font-weight: 500;
    // }
}