@import './variables.scss';

.header {
    padding: $padding-mobile;
    
    @media (min-width: $breakpoint-small) {
        padding: $padding-desktop;
    }
}

.headerDeep {
    a.name {
        text-decoration: underline;
    }
}

.header h1 {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Space Mono', monospace;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    flex-wrap: wrap;
    
    @media (min-width: $breakpoint-small) {
        font-size: 2rem;
    }
}

.separator {
    margin: 0 10px;
    padding-top: 0.1ch;
}