@import './variables.scss';

.main {
    padding: 25vh 0;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-small) {
        padding: 25vh 50px;
    }
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 2000px;
    
    @media (min-width: $breakpoint-small) {
        justify-content: space-between;
    }
}

.postLink {
    display: block;
    font-family: 'Space Mono', monospace;
    background: black;
    color: white;
    padding: 3px 10px;
    flex-grow: 1;
    text-align: center;
    border: 4px solid black;
    
    @media (min-width: $breakpoint-small) {
        font-size: 1.5rem;
        padding: 20px 50px;
    }
}

.postLinkDraft {
    background: white;
    color: black;
    border: 4px solid black;
}
