@import './variables.scss';

.post {
    display: flex;
    flex-direction: column;

    margin: 25vh auto;
    margin-bottom: 50vh;
}

.header {
    padding: 1em 2em;
    color: white;
    background: black;
    font-family: 'Space Mono', monospace;
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphenate-character: "◆";

    @supports(overflow-wrap: anywhere) {
        overflow-wrap: anywhere;
    }
    
    h2 {
        margin: 0;
        font-size: 2rem;
        
        @media (min-width: $breakpoint-small) {
            font-size: 4rem;
        }
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}